html
    head
        title addPerson
    body
        form(action="/addperson", method="POST")
            div
                label(for="name") Name: 
                input(name="name")
            br
            div
                label(for="age") Age: 
                input(name="age")
            br
            div
                label(for="nationality") Nationality: 
                input(name="nationality")
    
            button(type="submit") Create new user