html
    head
        title addUsers
    body
        form(action="/adduser", method="POST")
            div
                label(for="username") UserName: 
                input(name="username")
            br
            div
                label(for="password") Password: 
                input(name="password" type="password")
    
            button(type="submit") Create new user