<h1>TEST ADD AND DELETE</h1>
<section class="insert">
    <h3>Insert Person</h3>
    <form action="/upload" method="post">
         Select image to upload:
    <input name="photo" id="fileupload" type="file" />

     <button type="submit" class="btn btn-primary active">SUBMIT</button>
    </form>
</section>
